/*
Forma de Usar:

<div id="loadCerebelo">
    <img src="logo_cerebelo.png" >
</div>
*/


#loadCerebelo{
    width: 100px;
    height: 88px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -44px;
    margin-left: -50px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
}
#loadCerebelo img{
    -webkit-animation: myfirst 2s infinite; /* Safari 4+ */
    -moz-animation:    myfirst 2s infinite; /* Fx 5+ */
    -o-animation:      myfirst 2s infinite; /* Opera 12+ */
    animation:         myfirst 2s infinite; /* IE 10+, Fx 29+ */
}



/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    20% {
        -webkit-transform: rotatey( 0deg );
        -moz-transform: rotatey( 0deg );
        -o-transform: rotatey( 0deg );
        transform: rotatey( 0deg );
    }
    40% {
        -webkit-transform: rotatey( 180deg );
        -moz-transform: rotatey( 180deg );
        -o-transform: rotatey( 180deg );
        transform: rotatey( 180deg );
    }
    60% {
        -webkit-transform: rotatex( 0deg );
        -moz-transform: rotatex( 0deg );
        -o-transform: rotatex( 0deg );
        transform: rotatex( 0deg );
    }
    80% {
        -webkit-transform: rotatex( -180deg );
        -moz-transform: rotatex( -180deg );
        -o-transform: rotatex( -180deg );
        transform: rotatex( -180deg );
    }
}

/* Standard syntax */
@keyframes myfirst {
    20% {
        -webkit-transform: rotatey( 0deg );
        -moz-transform: rotatey( 0deg );
        -o-transform: rotatey( 0deg );
        transform: rotatey( 0deg );
    }
    40% {
        -webkit-transform: rotatey( 180deg );
        -moz-transform: rotatey( 180deg );
        -o-transform: rotatey( 180deg );
        transform: rotatey( 180deg );
    }
    60% {
        -webkit-transform: rotatex( 0deg );
        -moz-transform: rotatex( 0deg );
        -o-transform: rotatex( 0deg );
        transform: rotatex( 0deg );
    }
    80% {
        -webkit-transform: rotatex( -180deg );
        -moz-transform: rotatex( -180deg );
        -o-transform: rotatex( -180deg );
        transform: rotatex( -180deg );
    }
}