@font-face {
  font-family: "Myriad Pro";
  src: url("fonts/MyriadPro-Regular.eot") format("eot"),
  url("fonts/MyriadPro-Regular.woff") format("woff"),
  url("fonts/MyriadPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Humanist";
  src: url("fonts/Humanist521BT-Roman.eot") format("eot"),
  url("fonts/Humanist521BT-Roman.woff") format("woff"),
  url("fonts/Humanist521BT-Roman.ttf") format("truetype");
}


html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 150px;
    font-family: "Myriad Pro", Arial;
}

body > .container {
    padding: 0px 15px 0;
}

body a{
    color: #27274f;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

/* Navbar */

.navbar-default {
    background: none repeat scroll 0 0 #fff;
    border-color: #fff;
    padding: 10px;
}

.navbar-brand {
    color: #777777;
    margin-top: 5px;
}
.navbar-brand {
    height: auto;
}

.navbar-default .navbar-nav > li > a {
    color: #27274f;
    transition: all 350ms ease-in-out 0s;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #971b1d;
}

.navbar-right {
    font-size: 1.1em;
    margin-top: 30px;
}

.navbar-right li a {
    padding: 5px 15px;
    text-transform: uppercase;
}
.navbar-right li a {
    border-right: 1px solid #27274f;
}

.navbar-right li:last-child a {
    border-right: medium none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus  {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #27274f;
    text-decoration: underline;
    border-right-color: #27274f;
}

/* Dropdown Menu */

.dropdown-menu > li > a{
    border: none;
    color: #27274f;
}

.dropdown-menu > li > a:hover{
    color: #971B1D;
    background: none;
}

.navbar-right .dropdown-menu{
    left: 0;
    border-radius: 0px 0px 12px 0px;
}

/* Search */

.search {
    background: none repeat scroll 0 0 #ebeced;
    box-shadow: 0 0 5px 0 #b1b1b1;
    padding: 2px 2px 2px 10px;
    text-transform: uppercase;
    width: 550px;
    float: right;
    margin-top:-50px;
}

.search-button {
    background: none repeat scroll 0 0 #971b1d;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    float: right;
    line-height: normal;
    margin: 0 10px 0 5px;
    padding: 2px 5px 1px;
    transition: all 350ms ease-in-out 0s;
}

.search-button:hover{
    background: red;
    color: #fff;
}

.search-input {
    border: 1px solid #ebeced;
    box-shadow: 0 0 5px 0 #b1b1b1 inset;
    float: right;
    font-size: 1em;
    margin: 1px 10px;
    padding: 0;
    transition: all 350ms ease-in-out 0s;
    width: 71%;
}

/* Footer */

#footer {
    background-color: #971b1d;
    bottom: 0;
    color: #fff;
    height: 120px;
    position: absolute;
    width: 100%;
}

.footer-block {
    display: block;
    margin: 20px 0;
    position: relative;
    text-align: center;
}

#footer .info {
    position: absolute;
    right: 40px;
    text-align: right;
    top: 20px;
    width: 100%;
}

#footer .info .tel {
    font-size: 1.4em;
}

#footer .info .tel b {
    font-size: 0.7em;
}

#footer .info span {
    display: block;
    font-size: 0.85em;
}

#footer .info .face a {
    color: #fff;
}

/* Banner */

#banner {
    height: 350px;
}

#banner > .carousel-inner {
    border-radius: 0 0 30px;
    box-shadow: 0 0 5px 0 #b1b1b1;
}

#banner > .carousel-inner > .item {
    background-position: center center;
    background-size: cover;
    border-radius: 0 0 30px;
    height: 290px;
}

#banner > .carousel-inner > .item > a{  
    float: left;
    width: 100%;
    height: 100%;
    text-indent: -99999px;
}

.carousel-indicators {
    bottom: 20px;
}

.carousel-indicators li {
    border: medium none;
    box-shadow: 1px 1px 3px 1px #b1b1b1;
    height: 8px;
    width: 8px;
}

.carousel-indicators .active {
    background: none repeat scroll 0 0 #971b1d;
    border: medium none;
    height: 8px;
    width: 8px;
}

/* Company & Doubts */

.company {
    float: left;
    width: 48%;
}

.company img{
    width: 100%;
     border-radius: 0 0 20px;
    box-shadow: 0 0 8px 0 #b1b1b1;
}

/*.company span {
    background: none repeat scroll 0 0 #971b1d;
    border-radius: 0 0 20px;
    color: #fff;
    float: left;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.company span b {
    display: block;
    font-size: 2em;
    font-weight: normal;
}*/

.doubts {
     width: 48%;
     float: right;
    margin-bottom: 20px;
}

.doubts img{    
    border-radius: 0 0 0 20px;
    box-shadow: 0 0 8px 0 #b1b1b1;
    width: 100%;
}

/*.doubts span {
    background: none repeat scroll 0 0 #27274f;
    border-radius: 0 0 0 20px;
    color: #fff;
    float: left;
    font-size: 1.9em;
    height: 280px;
    padding: 30px 20px 20px;
    text-transform: uppercase;
    width: 51%;
}

.doubts span b {
    display: block;
    font-size: 1.3em;
    padding-top: 20px;
    text-align: center;
}

.company:hover, .doubts:hover{
    text-decoration: none;
}*/

/* Internal Pages */

.breadcrumb{
    background: #fff;
    text-transform: uppercase;
    font-size: 1em;
    color: #27274f;
    padding: 0;
    font-weight: 600;
}

h3{
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
}

nav{
    float: right;
}

/* Company */

.company-menu{
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}

.company-menu li{
    margin-bottom: 10px;
}

.company-menu li a{
    color: #27274f;
}

.company-menu li a:hover{
    text-decoration: none;
}

.company-menu li .active{
    font-weight: 600;
}

.company-content .col-md-8, .company-content .col-md-7{
    /*background: url('../../img/site/politica.png') no-repeat bottom center;*/
    background-size: 80%;
    /*min-height: 600px;*/
    text-align: justify;
}

.company-content .logos{
    margin: 20px 0;
}

/* Contact */

.contact-page{
    padding: 0;
}

.contact-page .info .tel{
    font-size: 1.6em;
    display: block;
}

.contact-page .info .tel b{
    font-size: 0.85em;
}

.contact-page .info .face{
    display: block;
    text-transform: none;
    margin-bottom: 5px;
}

.contact-page .info .face a{
    color: #fff;
}

.contact-page .info .address{
     display: block;
    text-transform: none;
}

.mail-image{
    text-align: center;
}

.mail-image img{
    max-width: 100%;
}

.form-contact{
    background: #971b1d;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;    
    border-radius: 0 0 20px;
    margin-bottom: 20px;
}

.form-contact label, .form-contact .form-group .col-sm-6, .form-contact .form-group .col-sm-6 .col-md-2, .form-contact .form-group .col-sm-10{
    padding: 0;
}

.form-contact .form-group {
    margin-bottom: 20px;
}

.form-contact label{
    zpadding-top: 10px;
}

.form-contact .send-contact{
    border-radius: 0px;
    background: #424265; /* Old browsers */
    background: -moz-linear-gradient(top,  #424265 1%, #27274f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#424265), color-stop(100%,#27274f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #424265 1%,#27274f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #424265 1%,#27274f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #424265 1%,#27274f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #424265 1%,#27274f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424265', endColorstr='#27274f',GradientType=0 ); /* IE6-9 */
    color: #fff;
    text-transform:  uppercase;
    font-size: 0.85;
    border: none;
    padding: 3px 12px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.form-contact .send-contact:hover{
    background: #27274f; /* Old browsers */
    background: -moz-linear-gradient(top,  #27274f 1%, #424265 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#27274f), color-stop(100%,#424265)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #27274f 1%,#424265 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #27274f 1%,#424265 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #27274f 1%,#424265 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #27274f 1%,#424265 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27274f', endColorstr='#424265',GradientType=0 ); /* IE6-9 */
}

.form-control{
    border: none;
    font-size: 0.85;
    padding: 2px;
    border-radius: 0;
    height: auto;
    color: #27274f;
    box-shadow: 0 0 5px 0 #b1b1b1 inset;
}

.contact-image{
    min-height: 500px;    
    background: url('../../img/site/contato.png') no-repeat bottom right;
    padding: 0;
    position: absolute;
    bottom: 100px;
    right: 20%;
}

.contact-image .finish{
    position: relative;
    width: 100%;
    height: 200px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    z-index: 999;
    margin-top:300px;
    display: none;
}

/* Properties */

.properties-list{
    list-style: none;
    padding: 0;
}

.properties-list li{
    background:#ebeced;
    box-shadow: 1px 1px 5px 1px #b1b1b1 ;
    padding: 0;
    width: 23.5%;
    margin-right: 2%;
    margin-bottom: 2%;
    font-family: "Humanist", Arial;
    opacity: 0.9;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out; 
    border-radius: 0 0 20px;
    float: left;
    height: 346px;
}

.properties-list li:hover{
    opacity: 1;
}

.properties-list li a:hover{
    text-decoration: none;
}

.properties-list li:nth-child(4n+4){
    margin-right: 0px;
}

.properties-list li .image-propertie{
    width: 90%;
    margin: 5%;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.properties-list li h4{
   display: block;
   background: #971b1d;
    color: #fff;
    padding: 8px 15px 5px 15px;
    text-align: center;
}

.properties-list li .city, .properties-list li .rooms{
    padding: 2px 15px;
    display: block;
    text-align: center;
}

/* Properties Details */

.propertie-details-image #details{
    height: 680px;

}

.propertie-details-image #details .carousel-inner{
    background: #ebeced;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #b1b1b1;
}

.propertie-details-image #details .carousel-inner .item{
    background-size: cover;
    height: 600px;
    width: 100%;
    border: 15px solid #ebeced;
    border-radius: 15px;
}

.investment{
    margin-top: 40px;
}

.investment  div{
    background: #ebeced;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #b1b1b1;
    padding: 10px;
}

.buy-button{
    background: #971b1d;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    float: right;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px 30px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    display: none;
}

.buy-button:hover{
    background: #27274f;
}

/* Modal */

.modal-backdrop.in{
    opacity: 0.8;
}

.modal-dialog{
    width: 800px;
}

.space20{
    height: 20px;
    width: 100%;
}

@media (max-width: 1760px) {
    
    /* Contact */
    
    .contact-image{
        right: 5%;
    }
}

@media (max-width: 1200px) {
    
    /* Home */
    
     .search-input {
        width: 70%;
     }
    
        
    /* Contact */
    
    .contact-image{
        position: relative;
        bottom: 0;
        right: 0;
    }
    
    .contact-image .finish{
        display: none;
    }
 }

@media (max-width: 991px) {
    
    /* Home */
    
    .navbar-brand img{
        width: 250px;
    }
    
    .navbar-right{
        font-size: 1em;
    }
    
    .search{
        margin-top: 20px;
        padding: 2px 2px 5px 10px;
    }
    
    #banner{
        height: 260px;
    }
    
    #banner > .carousel-inner > .item{
        height: 200px;
    }
    
    
    
    /* Company */
    
    .company-menu{
        margin-bottom: 40px;
    }
    
    /* Properties */
    
    .properties-list li{
        width: 31%;
        margin-right: 3.5%;
        margin-bottom: 3.5%;
    }

    .properties-list li:nth-child(4n+4){
       margin-right: 3.5%;
    }
    
    .properties-list li:nth-child(3n+3){
       margin-right: 0%;
    }
    
    /* Properties Details */
    
    .investment div{
        margin-bottom: 40px;
    }
    
    /* Contact*/
    
    .form-contact{
        margin-bottom: 40px;
    }
    
    .contact-image{
        display: none;
    }
    
    .form-contact .form-group .col-sm-6 .col-md-2{
        width: 20%;
        float: left;
    }
    
    .form-contact .form-group .col-sm-6 .col-md-10{
        width: 80%;
        float: right;
    }
    
    /* Modal */
    
    .modal-dialog{
        width: 600px;
    }
    
}

@media (max-width: 767px) {
    
     /* Home */
    
    .search{
        width: 100%;
    }
    
    .search-input {
        width: 75%;
     }
    
    /* Who We Are */
    
    .logos .col-sm-3{
        width: 50%;
        float: left;
    }
    
    /* Contact*/
    .form-contact .form-group .col-sm-6{
        width: 50%;
        float: left;
    }
    
    .form-contact .form-group .col-sm-4, .form-contact .form-group .col-sm-3{
        padding: 0;
        margin-bottom: 20px;

    }
    
    /* Modal */
    
    .modal-dialog{
        width: 400px;        
        margin:  0 auto;
    }

}

@media (max-width: 650px) {
    
    /* Home */
    
    .search-input {
        width: 70%;
     }
    
    .company, .doubts {
        width: 100%;
        margin-bottom: 20px;
    }        
    
    .footer-block img{
        float: left;
        margin-top: 20px;
    }
    
    #footer .info{
        right: 15px;
    }
    
    /* Properties */
    
    .properties-list li{
        width: 48%;
        margin-right: 4%;
        margin-bottom: 20px;
    }

    .properties-list li:nth-child(4n+4){
       margin-right: 4%;
    }
    
    .properties-list li:nth-child(3n+3){
       margin-right: 4%;
    }
    
    .properties-list li:nth-child(2n+2){
       margin-right: 0%;
    }
    
}

@media (max-width: 550px) {
    
    /* Home */
    
    .search-input {
        width: 60%;
     }
    
    
}

@media (max-width: 435px){
    
     /* Home */
    
    .search-input {
        width: 50%;
     }
    
    #banner{
        height: 160px;
    }
    
    #banner > .carousel-inner > .item{
        height: 100px;
    }
    
    .footer-block img{
        margin-top: 0px;
    }
    
    #footer .info{
        top: 10px;
    }
    
     /* Who We Are */
    
    .logos .col-sm-3{
        width: 100%;
    }
    
    /* Modal */
    
    .modal-dialog{
        width: 280px;
    }
    
}

@media (max-width: 380px){
    
     /* Home */
    
    body{
        margin-bottom: 250px;
    }
    
    .navbar-brand{
        float: left;
        width: 70%;
    }
    
    .navbar-brand img{
        width: 100%;
    }
    
    .search span{
        display: block;
    }
    
    .search-input{
        float: left;
        width: 70%;
        margin: 0;
    }
    
    .search-button{
        padding: 2px 5px 5px 5px;
    }
    
    .company span{
        padding: 10px;
        border-radius: 0px;
    }
    
    .company span b{
        font-size: 1em;
        display: inline;
    }
    
    .footer-block img{
        float:none;
    }
    
    #footer{
        height: 220px;
    }
    
    #footer .info{
        text-align: center;
        position: inherit;
        padding-top: 10px;
    }
    
    /* Company */
    
    .company-content .col-md-8{
        min-height: 450px;
    }
    
    /* Properties */
    
    .properties-list li{
        width: 100%;
        margin-right: 0%;
        margin-bottom: 20px;
    }

    .properties-list li:nth-child(4n+4){
       margin-right: 0%;
    }
    
    .properties-list li:nth-child(3n+3){
       margin-right: 0%;
    }
    
    /* Contact */
    
    .form-contact .form-group .col-sm-6 .col-md-10{
       padding: 0 5px;
    }

    

}